<% if user_signed_in? %>
  <%= simple_form_for @project do |f| %>
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :completion_status, label: "Completion Status" %>
    <%= f.input :success_status, label: "Success Status" %>
    <%= f.input :tag_list, label: "Tag List", action: :tag %>
    <%= f.submit %>
  <% end %>
<% else %>
  <h6>GET OUT!</h6>
<% end %>