
<% @projects.sort.each do |project| %>

  <div class="project">

    <div class="pic-container" <% if !project.avatar_file_size.nil? %> style="background-image: url(<%= project.avatar %>);" <% end %>>
      <h3>
        <span class="join-button">
          <%= link_to "+", project_join_project_path(project), method: :put %>
        </span>
        <%= project.projectmembers.first.user.first_name + " " + project.projectmembers.first.user.last_name %>
      </h3>
      <h4>
        <%= project.projectmembers.first.user.state %>
      </h4>
      <h2 class="completion">
        <%= project.completion_status %>%
      </h2>
      <h3 class="title">
        <%= link_to "#{project.title}", project %>
      </h3>
    </div>

    <hr>

    <div class="index">
      <%= render partial: 'projects/voting', locals: {project: project} %>
    </div>

    <p>
      <% project.tags.any? %>
        <% project.tags.sort{|a,b| a.name <=> b.name}.first(3).each do |tag| %>
        / <%= tag.name %> /
        <% end %>
    </p>

    <% if user_signed_in? && project.user_id == current_user.id && current_user.role == "user" %>
      <div class="edit-links">
        <%= link_to 'Edit', edit_project_path(project) %><br>
        <%= link_to "Destroy #{project.title}", project, method: :delete, data: { confirm: 'Are you sure about that?'} %>
      </div>
    <% elsif user_signed_in? && current_user.role == "admin" %>
      <div class="edit-links">
        <%= link_to 'Edit', edit_project_path(project) %><br>
        <%= link_to "Destroy #{project.title}", project, method: :delete, data: { confirm: 'Are you sure about that?'} %>
      </div>
    <% elsif user_signed_in? && project.user_id != current_user.id && current_user.role == "user" %>
      <br>
    <% end %>

  </div>

<% end %>
