<h1>Here are a few current projects!</h1>
<hr>
<% @projects.each do |project| %>
  <h1><%= link_to "#{project.title}", project %></h1>
  <h2><%= project.completion_status %>% complete</h2>
  <p><strong>Description: </strong><%= project.description %><br>
  <strong>Success Information: </strong><%= project.success_status %></p>

  <strong>Score: </strong><%= project.votes.size %><br>
  <%= link_to "Upvote", project_like_path(project, method: :put) %>
  <%= link_to "Downvote", project_dislike_path(project, method: :put) %>

  <hr>
<% end %>
<br>
<% if user_signed_in? %>
  <p>Want to get the ball rolling? Why not <%= link_to 'start a project!', new_project_path %></p>
<% end %>

