<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Work2transcend" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
    <link href='http://fonts.googleapis.com/css?family=Cardo:400,700|Ubuntu:400,700' rel='stylesheet' type='text/css'>
  </head>

  <body>
    <% unless !user_signed_in? %>
      <div class="page">
        <div class="off-canvas-wrap">
          <div class="inner-wrap">
            <nav class="tab-bar">
              <a class="left-off-canvas-toggle menu-icon">
                <span>
                  <%= current_user.first_name %>
                </span>
              </a>
            </nav>

            <aside class="left-off-canvas-menu">
              <ul class="off-canvas-list">

                <% if user_signed_in? && current_user.avatar_file_size.nil? %>
                  <div class="avatar_wrapper">
                    <li><%= link_to image_tag('Bubba.jpg'), edit_user_registration_path %></li>
                  </div>
                <% elsif user_signed_in? && !(current_user.avatar_file_size.nil?) %>
                  <div class="avatar">
                    <li><%= link_to image_tag(current_user.avatar), edit_user_registration_path, :class => "avatar" %></li>
                  </div>
                <% end %>

                <div class="home">
                  <li><%= link_to "Home", root_path %></li>
                </div>

                <div class="new_project">
                  <li><%= link_to "Start a Project!", new_project_path %></li>
                </div>

                <div class="user_projects">
                  <% if !current_user.projects.nil? %>
                    <% current_user.projects.each do |project| %>
                      <li><%= link_to "#{project.title}", project_path(project) %></li>
                    <% end %>
                  <% else %>
                    <li><%= link_to "Start a Project!", new_project_path %></li>
                  <% end %>
                </div>

                <% if user_signed_in? %>
                  <div class="signout">
                    <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
                  </div>
                <% else %>
                  <div class="signup_signin">
                    <li><%= link_to 'Sign Up', new_user_registration_path %></li>
                    <li><%= link_to 'Sign In', new_user_session_path %></li>
                  </div>
                <% end %>

              </ul>
            </aside>

            <p class="notice"><%= notice %></p>
            <p class="alert"><%= alert %></p>
            <% end %>

          <div class="main-content">
            <%= yield %>
          </div>

          </div>
        </div>
      </div>

    <%= javascript_include_tag "application" %>
    <%= yield :extra_footer %>
  </body>
</html>
